In [ ]:
SELECT * FROM Categories
SELECT TOP 10 * FROM Categories
SELECT CategoryID AS ID, CategoryName FROM Categories
SELECT * FROM Suppliers
SELECT DISTINCT Country From Customers /*remove duplicates*/
SELECT * FROM Customers WHERE Country='Mexico' OR City='Madrid'
SELECT * FROM Customers ORDER BY Country DESC
SELECT * FROM Customers WHERE Country='USA' ORDER BY City
SELECT TOP 10 * FROM Customers /*LIMIT 3 OR HEAD(3) FOR OTHER SQLs*/
SELECT TOP 3 * FROM Orders ORDER BY Freight DESC
SELECT COUNT(*) AS UNIT FROM Customers
SELECT Country, COUNT(Freight) AS UnitofFreight, AVG(Freight) AS MEAN, MIN(Freight) AS MIN FROM Orders GROUP BY Country